<div id='contentSlide'>
	<nav id='nav'>
		<ul>
			<a href='Home'><li class='categorie home'><span class='icon'></span>Home</li></a>
			<a href='MonCompte'><li class='categorie account'><span class='icon'></span>Mon compte</li></a>
			<a href='Strategies'><li class='categorie strategie'><span class='icon'></span>Stratégies</li></a>
			<a href='Discution'><li class='categorie discution'><span class='icon'></span>Discution</li></a>
			<a href='Logout'><li class='categorie logout'><span class='icon'></span>Déconnexion</li></a>
		</ul>
	</nav>
</div>